body {
    margin: 0;
    background: rgb(117, 145, 153);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: #604a8b;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header p {
    color: rgb(201, 218, 221);
    float: left;
    padding: 10px 0;
    padding-left: 75px;
}

nav {
    float: right;
}


nav ul {
    margin: 0;
    padding-right: 50px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav ul li a {
    color: rgb(201, 218, 221);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
