:root {
  --background: rgb(96, 74, 139);
  --background-dark: rgb(61, 36, 129);
  --background-light: rgb(117, 145, 153);
  --foreground: rgb(201, 218, 221);
}


body {
    margin: 0;
    background: var(--background-light);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    height: 5000px;
}

.navbar-custom {
    background-color: var(--background);
}

.navbar-custom .navbar-brand {
    color: var(--foreground);
    width: 10%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-custom .navbar-text {
    color: var(--foreground);
}

.navbar-custom .navbar-nav .nav-link {
    color: var(--foreground);
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.navbar-nav > li > .dropdown-menu { 
  background-color: var(--background); 
  font-size: larger;
}

.navbar-nav > li > .dropdown-menu a { 
  color: var(--foreground);
}

.navbar-nav > li > .dropdown-menu a:hover { 
  background-color: var(--background-dark);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }


/** Footer **/

footer {
  background-color: var(--background-dark);
  color: #f9f9f9;
  padding: 2rem 0;
}

.footer-content {
  display: flex;

}

.copy-right {
  font-size: 1.3rem;
  letter-spacing: .2rem;

}

/** Top Button **/

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #7ac9f9;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  display: none;
}