@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Quentincaps.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
html * {
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}
h1 {
    column-span:all;
    text-align:center;
}
.columns{
    column-count: 4;
    column-gap: 40px; 
    column-rule-width:1px;
    column-rule-style: solid;
    column-rule-color: #000;
    column-rule: 1px solid #000; /* This is the shorthand version */
    column-rule: 1px dotted # 999999;  
}


body{
    background-image: url("https://i.pinimg.com/564x/f3/ad/ae/f3adaef3451b78917feca2d22d49d9ec.jpg");
    background-color: rgb(24, 2, 11);
}
img{
    filter: grayscale(100%);
    border: radius 10px;;
    border-style:double;
    -webkit-border-radius:10%;

    border-width: 10px;
    width:100%;
    max-width:600Px;
    opacity:1;
    column-span:all;
}

h1{
    column-span: all;
   }

h2{
    text-align:center
}
button{
    font-size:1px;
}


h2{
    border-top:10px groove gray;
    padding: 10px;
}