@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Quentincaps.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
html * {
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}


body{
    background-image: url("https://i.pinimg.com/564x/f3/ad/ae/f3adaef3451b78917feca2d22d49d9ec.jpg");
    background-color: rgb(24, 2, 11);
    text-align: center;
}

img{
    filter: grayscale(100%) blur(1px) contrast(2);
    border-radius:40px;
    -webkit-border-radius:0%;
    width:100%;
    max-width:600Px;
    opacity:1;
    border-style:double;
    border-width: 10px;

}


h1{
    column-span: all;
   }

.
button{
    font-size:1px;
}

h2{
    border-bottom:10px groove grey;
    border-top:10px groove grey;
    padding-top: 5px;
}
q{
    border-radius: 5px;
    border-color: black;
    border-width: 4px;
    border-style:dashed;
    padding:7px;
}
.big-letter::first-letter {
  
    line-height: 50px;
  
    font-size: 50px;
  
    font-family: 'Ballet';
  
    color: #bbb lack;;
 
    padding-top: 12px;
  
  
    padding-bottom: 6px;
  
  
    padding-left: 5px;
  
  
    margin-right: 10px;
  
  
    margin-bottom: -10px;
    font-weight: bolder;

}
