@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html * {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #222222 !important;
    background-image: url("images/background.avif");
    background-attachment: fixed;
}

body * {
    font-size: 1.5rem;
    color: aliceblue;
    text-shadow:
        0 0 3px #fff,
        0 0 7px #fff,
        0 0 15px #fff,
        0 0 30px rgb(118, 115, 255),
        0 0 40px rgb(158, 173, 255)
}

p {
    line-height: 2em;
    padding-top: 5em;
}

q {
    text-shadow: inherit;
}

h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h3 * {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-shadow: none;
}

img {
    width: 100% !important;
}

.full-width-image {
    width: 100%;
}

.full-width-image img {
    width: 100%;
}

.articles {
    display: flex;
    margin: 10px;
}

.bold {
    font-weight: bold;
}

.question {
    padding-top: 2rem;
    text-shadow:
        0 0 3px #fff,
        0 0 7px #fff,
        0 0 15px #fff,
        0 0 30px rgb(255, 115, 115),
        0 0 40px rgb(255, 158, 158)
}

.answer {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.italic {
    font-style: italic;
    text-shadow:
        0 0 3px #fff,
        0 0 7px #fff,
        0 0 10px rgba(163, 163, 163, 0.167)
}

.figure-caption * {
    text-shadow: none;
}

.figure-caption {
    text-shadow: none;
    font-size: 10px;
}